---
layout: default
title: NLP Blogs
blog: NLP Blogs
---

<div class="posts">
  {% for post in site.posts %}
  {% if post.blog contains 'Blog' %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">

        {{ post.excerpt }}
                 {% assign image = post.images[0] %}
      <!-- {% include image.html image=image %} -->
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endif %}
  {% endfor %}
</div>


<!-- <a href="http://www.nerdtests.com/ft_nq.php">
<img src="http://www.nerdtests.com/images/ft/nq/d219c5080b.gif" alt="I am nerdier than 82% of all people. Are you a nerd? Click here to take the Nerd Test, get geeky images and jokes, and write on the nerd forum!"></a> -->
